.guarantee {
  padding-top: 105px;

  &__block-tittle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-tittle {
    text-align: left;
  }

  &__time {
    display: flex;


    &-item {
      position: relative;
      z-index: 9;
      padding: 9px 30px;
      box-shadow: 0 30px 60px rgba(29, 29, 56, 0.05);
      border-radius: 24px;
      background-color: #ffffff;
      height: 180px;

      &:nth-child(1) {
        width: 279px;
      }

      &:nth-child(2) {
        width: 308px;

      }
    }
  }

  &-gray {
    font-family: serif;
    color: #c8cacc;
    font-size: 58px;
  }

  &__block-sert {
    position: relative;
    display: flex;
    margin-top: 50px;

    &-item {
      padding-top: 50px;
      padding-left: 62px;
      position: relative;
      width: 560px;
      height: 319px;
      box-shadow: 0 30px 60px rgba(29, 29, 56, 0.05);
      border-radius: 24px;
      background-color: #ffffff;
    }

    &-tittle {
      font-size: 34px;
      line-height: 42px;
      font-weight: 600;
    }

    &-subtittle {
      margin-top: 19px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
    }

    &-image {
      position: absolute;
      top: -270px;
      right: -22px;
    }
  }

  &__insurance {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    &-item {
      padding: 12px 34px;
      width: 429px;
      height: 210px;
      box-shadow: 0 30px 60px rgba(29, 29, 56, 0.05);
      border-radius: 24px;
      background-color: #ffffff;
    }

    &-image {
      position: relative;
      z-index: 9;
      top: 62px;
    }
  }

  .garante {
    position: absolute;
    right: 29px;
    top: 29px;
  }

  .line {
    left: 85px;
    top: 83px;
    z-index: -1;
  }

  @include _1400 {
    &__time {
      flex-direction: column;

      &-item {
        &:nth-child(1) {
          width: 308px;
          margin-bottom: 5px;
        }
      }
    }

    &__block {
      &-tittle {
        align-items: flex-start;
      }

      &-sert {
        margin-top: -50px;

        &-image {
          top: -160px;
          right: -120px;

          img {
            width: 85%;
          }
        }
      }
    }

    &__insurance-item {

      height: 230px;

      p {
        br {
          display: none;
        }
      }
    }
  }

  @include _1200 {

    &__block-sert {
      margin-top: -120px;

      &-image {
        top: 55px;
        right: -207px;
      }
    }

    &__insurance {
      flex-direction: column;
    }
  }

  @include _992 {
    .line {
      display: none;
    }

    &-tittle {
      br {
        display: none;
      }

      margin-right: 20px;
    }

    &__block-sert {
      margin-top: 30px;
    }

    &__time-item {
      width: 260px !important;
      height: 150px;

      p {
        font-size: 14px;
      }
    }

    &-gray {
      font-size: 48px !important;
    }

    &__insurance-image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__block-sert-image {
      right: -432px;
      top: 65px;
    }
  }

  @include _768 {
    &__block {
      &-tittle {
        flex-direction: column;
      }
    }

    &__time {
      margin-top: 25px;
      flex-direction: row;

      &-item {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .nobel {
      display: none;
    }
  }

  @include _576 {
    padding-top: 70px;

    &__time {
      width: 100%;

      &-item {
        width: 49% !important;
      }
    }

    &-gray {
      font-size: 34px !important;
    }

    &__time-item {
      height: auto;

      p {
        font-size: 12px;

        br {
          display: none;
        }
      }

      padding: 10px 20px 20px 20px;
    }

    &__block {
      &-sert {
        width: 100%;

        &-item {
          padding-top: 20px;
          padding-left: 30px;
        }

        &-tittle {
          font-size: 24px;
          line-height: 34px;
        }

        &-subtittle {
          br {
            display: none;
          }

          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    &__insurance-item {
      height: auto;
      padding-bottom: 20px;
    }
  }

  @include _460 {
    &__time {
      flex-direction: column;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        margin-right: 0;

        p {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    &-gray {
      font-size: 48px !important;
    }

    .garante {
      top: 15px;
      right: 15px;
    }

    &__insurance-item {
      width: 100%;
    }
  }

  @include _410 {
    &__block-sert {
      &-item {
        padding: 20px;
        height: auto;
      }

      &-tittle {
        font-size: 22px;
        line-height: 32px;
      }

      &-subtittle {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}